In [ ]:
# Set

In [13]:
a = set("philaaaadelphia")
b = set("jimmy")
print(a)
print(b)

{'a', 'h', 'p', 'i', 'e', 'l', 'd'}
{'y', 'i', 'm', 'j'}

In [11]:
print(a.difference(b))
print(a - b)
print(b.difference(a))
print(b - a)

{'a', 'h', 'p', 'e', 'l', 'd'}
{'a', 'h', 'p', 'e', 'l', 'd'}
{'j', 'y', 'm'}
{'j', 'y', 'm'}

In [9]:
print(a.union(b))
print(a | b)

{'a', 'h', 'j', 'p', 'i', 'e', 'l', 'd', 'y', 'm'}
{'a', 'h', 'j', 'p', 'i', 'e', 'l', 'd', 'y', 'm'}

In [12]:
print(a.intersection(b))
print(a & b)

{'i'}
{'i'}

In [15]:
date = "09/04/2021"
a = set(date)
print(a)

{'/', '1', '4', '9', '0', '2'}

In [16]:
date_set = {"09/04/2021"}
print(date_set)

{'09/04/2021'}

In [17]:
given_list = [1,1,1,1,2,2,2,3,3,3,4,4,4,4]
print(set(given_list))

{1, 2, 3, 4}

In [21]:
usa = set("Washington")
newzealand=set("Willington")
print(usa - newzealand)
print(newzealand - usa)
print(usa | newzealand)
print(usa & newzealand)

{'a', 's', 'h'}
{'l'}
{'a', 'o', 'h', 't', 'i', 'l', 'n', 'W', 'g', 's'}
{'o', 't', 'i', 'n', 'g', 'W'}

In [22]:
given_list = [1,1,1,1,2,2,2,3,3,3,4,4,4,4]
{given_list}  # unhashable type: 'list'

TypeError: ignored

In [ ]:
# Control Flow Statements

In [ ]:
# if statements

In [23]:
if True:
  print("It is True")

It is True

In [26]:
if 1:
  print("It is Truthy")

It is Truthy

In [27]:
price = '2000'

if price <= '2000':
  print("It worked")
else:
  print("It did not work")

It worked

In [ ]:
price = '2000'

if price <= 2000:  # '<=' not supported between instances of 'str' and 'int'
  print("It worked")
else:
  print("It did not work")

In [29]:
meat= True
bread = True

lettuce = True
pepper = True

store = True

hamburger = (meat and store and bread) and (lettuce or pepper)

if hamburger:
  print("Guten Appetit")

Guten Appetit

In [31]:
convert = input("Enter Yes or No").title().strip() == "Yes"
print("You entered :", convert)

Enter Yes or Noabuziddin
You entered : False

In [ ]:
print("You entered :", input("Enter Yes or No").title().strip() == "Yes")

In [36]:
num = int(input("Enter a number : "))
if num % 2 :
  print("{} is a odd number".format(num))
else:
  print("{} is a even number".format(num))

Enter a number : 5
5 is a odd number

In [40]:
num = int(input("Enter a number : "))
if num == 0 :
  print("{} is zero".format(num))
elif num > 0:
  print("{} is greater than zero".format(num))
else:
  print("{} is less than zero".format(num))

Enter a number : -9
-9 is less than zero

In [44]:
num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

if num1 > num2 :
  print("{} is greater than {}".format(num1, num2))
elif num1 < num2 :
  print("{} is less than {}".format(num1, num2))
else:
  print("They are equal")

Enter first number : 5
Enter second number : 5
They are equal

In [ ]:
num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

if num1 > num2 :
  larger = num1
else:
  larger = num2
  
print("Larger number is ", larger)

In [46]:
bool_value = False

if bool_value:
  print("It is Yes")
else:
  print("It is No")

It is No