In [9]:
def filterVowels(letter):
  vowels = ["a", "e", "i", "o", "u"]

  if letter.lower() in vowels :
    return True
  else :
    return False

In [3]:
filterVowels("b")

False

In [4]:
filterVowels("U")

True

In [10]:
sentence = "Jimmy is here"
filtered_vowels = filter(filterVowels, sentence)
print(* filtered_vowels)

i i e e

In [11]:
def absolute(num):
  """
  This function returns the absolute value of the number
  """
  if num >= 0 :
    return num
  else :
    return -num

In [13]:
print(absolute.__doc__)

  This function returns the absolute value of the number

In [14]:
absolute(-11)

11

In [15]:
def pos_arg(x, y):
  print(x, " is here")
  print(y, " is not here")

In [17]:
pos_arg("jimmy", "joe")
print()
pos_arg("joe", "jimmy")

jimmy  is here
joe  is not here

joe  is here
jimmy  is not here

In [23]:
def texter(a, b, c):
  print(f"{b} {c} {a}")

In [24]:
a= "I"
b= "love"
c= "you"
texter(c, a, b)

I love you

In [27]:
def default(a = "jimmy", b = 33):
  print(a, "is", b, "years old")

In [28]:
default()

jimmy is 33 years old

In [29]:
default("johnny", 12)

johnny is 12 years old

In [32]:
default(b= 12)

jimmy is 12 years old

In [33]:
default(a = "Joe", b = 23)

Joe is 23 years old

In [36]:
def default(x, a = "jimmy", b = 33):
  print(a,"and",x ,"are", b, "years old")

In [37]:
default("Sue")

jimmy and Sue are 33 years old

In [38]:
def argu(a, b, c = "is", d = "here"):  # fonksiyon tanımlarken ilk önce positional arguments gelmeli. daha sonra keyword arguments gelir
  print(a, b, c, d)

In [39]:
argu("jimmy", "the boy")  # fonksiyon çağırırken de ilk önce positional arguments gelmeli. daha sonra keyword arguments gelir

jimmy the boy is here

In [43]:
def fruiterer(*fruit):
  print("I want to buy : ")
  for i in fruit:
    print("==> ",i)

fruits = ["orange", "apple", "banana", "melon"]
fruiterer(*fruits)

I want to buy :
==>  orange
==>  apple
==>  banana
==>  melon

In [45]:
def slicer(*nums):
  even=[]
  odd=[]
  for i in nums:
    if i % 2 :
      odd.append(i)
    else:
      even.append(i)
  print("even:",even)
  print("odd:",odd)

slicer(1,2,3,5,4,6,9,8,7)

even: [2, 4, 6, 8]
odd: [1, 3, 5, 9, 7]

In [47]:
def slicer(*num):
  print("evens:", [i for i in num if i%2 == 0])
  print("odds:", [i for i in num if not i%2 == 0])

slicer(1,2,3,5,4,6,9,8,7)

evens: [2, 4, 6, 8]
odds: [1, 3, 5, 9, 7]

In [49]:
def dic(**a):
  for key,value in a.items():
    print(key, value)

dic(bir="one", iki="two", üc="three", dort="four", bes="five")

bir one
iki two
üc three
dort four
bes five

In [54]:
def organizer(**coll):
  keys=[]
  values=[]
  for key, value in coll.items():
    keys.append(key)
    values.append(value)
  print(keys, values, sep="\n")
organizer(bir="one", iki="two", üc="three", dort="four", bes="five")

['bir', 'iki', 'üc', 'dort', 'bes']
['one', 'two', 'three', 'four', 'five']

In [60]:
def organizer(**coll):
  keys=[i for i in coll.keys()]
  values=[i for i in coll.values()]
  print(keys, values, sep="\n")
organizer(bir="one", iki="two", üc="three", dort="four", bes="five")

['bir', 'iki', 'üc', 'dort', 'bes']
['one', 'two', 'three', 'four', 'five']