In [5]:
my_list = ["Deutschland", "Frankreich", "Schweiz", "Schweden", "Österreich", "Norwiegen"]
print(my_list[:-3])
print(my_list[:3])
print(my_list[-3:])
print(my_list[3:])
print(my_list[::-2])

['Deutschland', 'Frankreich', 'Schweiz']
['Deutschland', 'Frankreich', 'Schweiz']
['Schweden', 'Österreich', 'Norwiegen']
['Schweden', 'Österreich', 'Norwiegen']
['Norwiegen', 'Schweden', 'Frankreich']

In [8]:
letters = "a b c d e f g h i j".split()
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [9]:
letters[7:3:-1]

['h', 'g', 'f', 'e']

In [10]:
letters[2:6:-1]  # kapsayacağı alan yok, bundan dolayı boş döndü. 2'den 6'ya -1 ile gidemeyeceği için boş dönüyor.

[]

In [11]:
"a-b-c-d".split("-")

['a', 'b', 'c', 'd']

In [29]:
land= ["Deutschland", "Frankreich", "Schweiz", "Schweden", "Amerika", "Norwiegen"]
sorted(land)

['Amerika', 'Deutschland', 'Frankreich', 'Norwiegen', 'Schweden', 'Schweiz']

In [22]:
sorted(land, key = len)  # uzunluğa göre sıralıyor

['Schweiz', 'Amerika', 'Schweden', 'Norwiegen', 'Frankreich', 'Deutschland']

In [23]:
sorted(land, key = len, reverse = True)

['Deutschland', 'Frankreich', 'Norwiegen', 'Schweden', 'Schweiz', 'Amerika']

In [27]:
land= ["Deutschland", "Frankreich", "Schweiz", "Schweden", "Amerika", "Norwiegen"]
land.sort(key=len, reverse=True)
land

['Deutschland', 'Frankreich', 'Norwiegen', 'Schweden', 'Schweiz', 'Amerika']

In [31]:
import sys

In [34]:
x = [1, 2, 3]
y = (1, 2, 3)
print(sys.getsizeof(x))
print(sys.getsizeof(y))

96
80

In [35]:
## Tuples
tuple_1 = ("h", "a", "p", "p", "y")
word ="happy"
tuple_2 = tuple(word)
print(tuple_1)
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')

In [36]:
x = ["a", "b", "c"]
z = tuple(x)
z

('a', 'b', 'c')

In [ ]:
# tuple oluşturmak için => () veya tuple()

In [37]:
my_tuple = ("Solar") # tek elemanlı tuple oluşturmak için yanına "," konulmalı
print(my_tuple, type(my_tuple),sep= "\n")

Solar
<class 'str'>

In [40]:
x = 1, 2, 3
type(x)

tuple

In [41]:
y1 = (1)
y2 = 1
y3 = 1,
y4 = (1,)
print(type(y1))
print(type(y2))
print(type(y3))
print(type(y4))

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [43]:
mountain = tuple("Alps")
print(mountain)
letter = list("Alps")
print(letter)

('A', 'l', 'p', 's')
['A', 'l', 'p', 's']

In [44]:
mountain = tuple("Alps")  # list tuple'a, tuple da list'e çevrilebilir
print(list(mountain))
letter = list("Alps")
print(tuple(letter))

['A', 'l', 'p', 's']
('A', 'l', 'p', 's')

In [46]:
num = tuple(range(1,10,2))
num

(1, 3, 5, 7, 9)

In [47]:
even = (2, 4, 6, 8)
even[1]

4

In [48]:
mix = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_mix = mix[2][1:3]
print(str_mix, type(str_mix), sep="\n")

['two', ('six', 6)]
<class 'list'>

In [49]:
mix = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_mix = mix[2][2][0]
print(str_mix, type(str_mix), sep="\n")

six
<class 'str'>

In [50]:
mix = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_mix = mix[1:3]
print(str_mix, type(str_mix), sep="\n")

(11, [2, 'two', ('six', 6)])
<class 'tuple'>

In [52]:
mix = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_mix = mix[-1]
print(str_mix, type(str_mix), sep="\n")

(5, 'fair')
<class 'tuple'>

In [53]:
mix = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_mix = mix[-1][-1]
print(str_mix, type(str_mix), sep="\n")

fair
<class 'str'>

In [61]:
mix = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
mix[2].append("hey")
print(mix)

('11', 11, [2, 'two', ('six', 6), 'hey'], (5, 'fair'))

In [62]:
mix[2]

[2, 'two', ('six', 6), 'hey']

In [63]:
mix[2].remove("hey")
mix

('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))

In [64]:
mix[2][2] = 15
print(mix)

('11', 11, [2, 'two', 15], (5, 'fair'))