In [1]:
numbers = [1, 2, 3, 4]
texts= ["one", "two", "three", "four"]
cities = ["Mekke", "Berlin", "Paris", "Washington"]

print(* zip(numbers, texts, cities))

(1, 'one', 'Mekke') (2, 'two', 'Berlin') (3, 'three', 'Paris') (4, 'four', 'Washington')

In [4]:
even = []
odd =[]

for i in range(10):
  if i % 2 :
    odd.append(i)
  else:
    even.append(i)
print(odd)
print(even)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [5]:
numbers = [11, 2, 24, 61, 48, 33, 3]

even = 0
odd = 0

for i in numbers :
  if not i % 2 :
    even +=1
  else:
    odd += 1
print("The numbers of evens : ", even)
print("The numbers of odds : ", odd)

The numbers of evens :  3
The numbers of odds :  4

In [12]:
for i in range(1,10):
  print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [13]:
sum = 0
for i in range(1,75):
  sum += i
print("Sum : ", sum)

Sum :  2775

In [15]:
names = ["Jimmy", "Johnny"]
mood = ["sad", "happy", "excited"]

for i in names:
  for ii in mood:
    print(i, "is", ii)

Jimmy is sad
Jimmy is happy
Jimmy is excited
Johnny is sad
Johnny is happy
Johnny is excited

In [ ]:
# List Comprehension

In [26]:
[print(i,"is",ii) for i in names for ii in mood]

Jimmy is sad
Jimmy is happy
Jimmy is excited
Johnny is sad
Johnny is happy
Johnny is excited

[None, None, None, None, None, None]

In [19]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
empty_list = []

for i in my_list:
  if i % 2 :
    empty_list.append(i**2)
print(empty_list)

[1, 9, 25, 49, 81]

In [25]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# [expression for item in iterable]

new_list = [i**2 for i in my_list if i % 2] # Ternary if-condition yapısı => execute-body-1(list-comprehension) if condition else execute-body-2
print(new_list)

[1, 9, 25, 49, 81]

In [28]:
print(1 if False else 0)  # Ternary if-condition yapısı => execute-body-1 if condition else execute-body-2

0

In [29]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# [expression for item in iterable]

new_list = [i**2 for i in my_list if not i % 2]
print(new_list)

[4, 16, 36, 64]

In [33]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a = (i**2 for i in my_list)  # generator object
print(*a)

1 4 9 16 25 36 49 64 81

In [34]:
a = (i**2 for i in my_list)
print(next(a))

1

In [35]:
print(next(a))

4

In [36]:
print(next(a))

9

In [37]:
print(next(a))

16

In [38]:
print(next(a))

25

In [39]:
print(next(a))

36

In [40]:
print(next(a))

49

In [41]:
print(next(a))

64

In [42]:
print(next(a))

81

In [ ]:
print(next(a))  # object'in içi tamamen boşaldığı için, liste boş görünüyor. Eleman iterate edemez