In [ ]:
sentence = input("Write a sentence")
words = sentence.split()
i = 0
longest = 0

while i < len(words) :
  if len(words[i]) > longest :
    longest = len(words[i])
  i +=1
print("The longest words has {} chars.".format(longest))

Write a sentenceali ata bakar
The longest words has 5 chars.

In [ ]:
# for loop

In [ ]:
for i in [1, 2, 3, 4, 5, 6]:
  print(i)

1
2
3
4
5
6

In [ ]:
seasons = ["spring", "summer", "autumn", "winter"]

for season in seasons :
  print(season)

spring
summer
autumn
winter

In [ ]:
names = ["Jimmy", "John", "Joe"]

for name in names :
  print("Hello ",name)

Hello  Jimmy
Hello  John
Hello  Joe

In [ ]:
sum = 0 
for i in range(1,6):
  sum += i
print(sum)

15

In [ ]:
numbers = []

for i in range(6) :
  numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5]

In [ ]:
name = "jimmy"

for i in name :
  print(i, end = " // ")

j // i // m // m // y //

In [ ]:
word = "jimmy"
count = 0

for i in word :
  count += 1
  if count < len(word) :
    i = i + "-"
  print(i, end="")

j-i-m-m-y

In [ ]:
user = {
    "name":"Smith",
    "surname":"John",
    "age":32
}

for attribute in user :  # dictionary key'ler üzerinden iterate edilir
  print(attribute)

name
surname
age

In [ ]:
names =["cemil", "nurettin", "oguz", "victor"]

print(f"cemil {names.index('oguz')} numaralı indeks'te")

cemil 2 numaralı indeks'te

In [ ]:
v = ("five", 5, True)
(x, y, z) = v
print(x, y, z)

five 5 True

In [ ]:
(monday, tuesday, wedneday, thursday, friday, saturday, sunday) = tuple(range(1, 8))  # loops, collections, *  => object formatında dönen sonuçları bu yöntemler ile açabiliriz
sunday

7

In [ ]:
print([1, 2, 3, 4] + ["11", "22", 33])

[1, 2, 3, 4, '11', '22', 33]

In [ ]:
tt = (1, 2, [1, 3, 5])
tt[2].append(4)
tt

(1, 2, [1, 3, 5, 4])

In [ ]:
x, y = (10, 20)
x,y

(10, 20)

In [ ]:
# a, b = (10, 20, 30, 40)
a, _, b, _ = (10, 20, 30, 40)
a, b

(10, 30)

In [ ]:
x, y, *z = (10, 20, 30, 40, 50)
x, " ", y," ", z

(10, ' ', 20, ' ', [30, 40, 50])

In [ ]:
x, y, *_ = (10, 20, 30, 40, 50)

In [ ]:
x, y, *z, t  = (10, 20, 30, 40, 50, 60, 70)
x, " ", y," ", z, " ", t

(10, ' ', 20, ' ', [30, 40, 50, 60], ' ', 70)

In [ ]:
x, y, *_, t, w  = (10, 20, 30, 40, 50, 60, 70, 80, 90)
x, " ", y," ", t, " ", w

(10, ' ', 20, ' ', 80, ' ', 90)

In [ ]:
user = {
    "name":"Smith",
    "surname":"John",
    "age":32
}

for attribute in user.values() :  
  print(attribute, end=" ")

Smith John 32

In [ ]:
user = {
    "name":"Smith",
    "surname":"John",
    "age":32
}

for key, value in user.items() :  
  print(key, ":", value)

name : Smith
surname : John
age : 32

In [ ]:
user = {
    "name":"Smith",
    "surname":"John",
    "age":32
}

for item in user.items() :  
  print(item)

('name', 'Smith')
('surname', 'John')
('age', 32)

In [ ]:
number = int(input("Enter a number : "))

for i in range(11):
  print("{} x {} = {}".format(number, i , (i*number)))

Enter a number : 11
11 x 0 = 0
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [ ]:
print(*range(6))  # for, collections, *

print(*("jimmy"))

print(*range(10, -8, -2))

print(*range(1,25,4))

print(set(range(1,6,2)))

print(tuple(range(1,6,2)))

print(list(range(1,6,2)))

for i in range(1,6) :
  print(i, end=" ")

0 1 2 3 4 5
j i m m y
10 8 6 4 2 0 -2 -4 -6
1 5 9 13 17 21
{1, 3, 5}
(1, 3, 5)
[1, 3, 5]
1 2 3 4 5

In [ ]:
text = ["one", "two", "three", "four"]
numbers = [1, 2, 3, 4]

print(*zip(text, numbers))

print(list(zip(text, numbers)))

print(tuple(zip(text, numbers)))

for x,y in zip(text, numbers):
  print(x, " : ", y)

('one', 1) ('two', 2) ('three', 3) ('four', 4)
[('one', 1), ('two', 2), ('three', 3), ('four', 4)]
(('one', 1), ('two', 2), ('three', 3), ('four', 4))
one  :  1
two  :  2
three  :  3
four  :  4