In [1]:
def bros(bro1, bro2, bro3):
  print("The names of bros:")
  print(bro1, bro2, bro3, sep="\n")

bro=["cemil", "nurettin", "oguz"]
bros(*bro)

The names of bros:
cemil
nurettin
oguz

In [3]:
genius = ["Bill", "Rossum", "Guido van", "Gates"]

def merger(par1, par2, par3, par4):
  print(f"for me, {par1} {par4} and {par3} {par2} are geniuses.")
merger(*genius)

for me, Bill Gates and Guido van Rossum are geniuses.

In [5]:
def gene(x="Solomon", y="David"):  # atanacak keyler ile aynı olmalı
  print(x,"belongs to Generation X")
  print(y,"belongs to Generation Y")
dict_gene={'y':"Marry", 'x':'Fred'}  # atanacak keyler ile aynı olmalı
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [8]:
#  [("marry", "ryan"), ("bella", "fred"), ("linda", "roland")]
dict_couple = { "bride": ["marry", "bella", "linda"],
               "groom":["ryan", "fred", "roland"]}
def couples(bride, groom):
  couple_list= []
  for x in zip(bride, groom):
    couple_list.append(x)
  return couple_list

couples(**dict_couple)

[('marry', 'ryan'), ('bella', 'fred'), ('linda', 'roland')]

In [11]:
#  [("marry", "ryan"), ("bella", "fred"), ("linda", "roland")]
dict_couple = { "bride": ["marry", "bella", "linda"],
               "groom":["ryan", "fred", "roland"]}
def couples(bride, groom):
  return [x for x in zip(bride, groom)]

couples(**dict_couple)

[('marry', 'ryan'), ('bella', 'fred'), ('linda', 'roland')]

In [12]:
friends = {"cemil":44, "oguz":41, "nurettin":61}

def meaner(cemil, oguz, nurettin):
  avg = (cemil+oguz+nurettin)/3
  print("Avergae age is:",avg)

meaner(**friends)

Avergae age is: 48.666666666666664

In [ ]:
def isValid(s):
  while "()" in s or "[]" in s or "{}" in s :
    s = s.replace("()", "").replace("[]", "").replace("{}", "")
  return s == ""

In [ ]:
# Lambda

In [17]:
print((lambda x : "odd" if x % 2 else "even")(8))
print((lambda x : "odd" if x % 2 else "even")(3))

even
odd

In [18]:
average = (lambda a,b : a**2 + b**2)(3, 5)
print(average)

34

In [19]:
iterable = "jimmy"
reverser = (lambda x : x[::-1] )(iterable)
print(reverser)

ymmij

In [20]:
for i in [1, 2, 3, 4, 5, 6]:
  print(i, ":", (lambda x : "odd" if x%2 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

In [21]:
hypo = lambda a,b : a**2 + b**2
hypo(3,5)

34

In [22]:
iterable=[1, 2, 3, 4, 5, 6]
print(list(map(lambda x: x**2, iterable)))

[1, 4, 9, 16, 25, 36]

In [23]:
def square(x):
  return x**2

list(map(square, iterable))

[1, 4, 9, 16, 25, 36]

In [24]:
iterable_2 = ["ali", "veli", "cemil"]
list(map(len, iterable_2))

[3, 4, 5]

In [25]:
letter1 = ["o", "s", "t", "t"]
letter2 = ["n", "i", "e", "w"]
letter3 = ["e", "x", "n", "o"]

print(list(map(lambda x,y,z : x+y+z, letter1, letter2, letter3)))  # map birdern fazla iterable nesnesi alabilir, sırası önemli bu iterable'ların

['one', 'six', 'ten', 'two']

In [30]:
letter1 = ["o", "s", "t", "t"]
letter2 = ["n", "i", "e", "w"]
letter3 = ["e", "x", "n", "o"]

zipp = map(zip, letter1, letter2, letter3)

for i in zipp:
  for j in i:
    print(j)

('o', 'n', 'e')
('s', 'i', 'x')
('t', 'e', 'n')
('t', 'w', 'o')